<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>directlabelprint</name>
    <displayName><![CDATA[Direct Label Print - Address Edition]]></displayName>
    <version><![CDATA[3.5.7]]></version>
    <description><![CDATA[Add label print button in order details page. Designed for label printers.]]></description>
    <author><![CDATA[Leon&eacute; MusicReader B.V.]]></author>
    <tab><![CDATA[shipping_logistics]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>