<style>
	 .w-sqr .col-md-6,.w-sqr .col-md-3,.w-sqr .col-md-9{
		padding: 0;
	}
</style>
<div class="container-fluid w-sqr">

  <div class="col-md-6" style="height:50%;">
  	<div class="sqr col-md-12" style="height:50%;"></div>
	<div class="sqr col-md-12" style="height:50%;"></div>
  </div>
  <div class="sqr col-md-6" style="height:50%;"></div>

  <div class="col-md-6" style="height:50%;">
  	<div class="sqr col-md-12" style="height:50%;"></div>
	<div class="sqr col-md-12" style="height:50%;"></div>
  </div>
  <div class="sqr col-md-6" style="height:50%;"></div>
  
</div>