
<style>
	 .w-sqr .col-md-6{
		padding: 0;
	}
</style>
<div class="container-fluid w-sqr" style="margin:9% 0 0 7%">
  <div class="sqr" style="-webkit-border-radius: 900px;-moz-border-radius: 900px;border-radius: 900px; width:100px; height:100px;outline:none !important;border:1px solid #464646; border-color:rgba(0,0,0,0.3); overflow:hidden"></div>
  <div class="sqr" style="-webkit-border-radius: 900px;-moz-border-radius: 900px;border-radius: 900px; width:200px; height:200px; margin-left:63px; margin-top:-55px;outline:none !important;border:1px solid #464646; border-color:rgba(0,0,0,0.3); overflow:hidden"></div>
  <div class="sqr" style="-webkit-border-radius: 900px;-moz-border-radius: 900px;border-radius: 900px; width:160px; height:160px; margin-top:-22px;outline:none !important;border:1px solid #464646; border-color:rgba(0,0,0,0.3); overflow:hidden"></div>
  <div class="sqr" style="-webkit-border-radius: 900px;-moz-border-radius: 900px;border-radius: 900px; width:140px; height:140px; margin-left:100px; margin-top:-31px;outline:none !important;border:1px solid #464646; border-color:rgba(0,0,0,0.3); overflow:hidden"></div>
</div>